<h2>Item List</h2>

<p><i>Pick a item from the list</i></p>
<ul>
  <li *ngFor="let item of items" (click)="selectItem(item)">
    {{item.id}} - {{item.name}} 
  </li>
</ul>
 <a (click)="incrPrice()">Incr Item price</a> &nbsp;
 <a (click)="decrPrice()">Decr Item price</a>
<p>
  <span class="itemClicked" *ngIf="selectedItem && selectedItem.date">clicked on {{selectedItem.date | date:"dd-MMM-yyyy HH:m:ss"}}</span>


  <app-item-detail *ngIf="selectedItem"
    [selectedItemDetail]="selectedItem && selectedItem.detail" 
    [price]="selectedItem && selectedItem.price">
  </app-item-detail>
</p>
