.price{
  font-size:15px;
  color: green;
  font-style: italic;
}

.actualPrice{
   font-size:12px;
  color: red;
  text-decoration: line-through
}

.discountValue{
   font-size:12px;
  color:green;
  
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/