<h2>Products</h2>


<div *ngFor="let product of products">
  
  <h3>
    <span>
    <a bind-title="product.name + ' details'" on-click="toggleDesc(product)">
      {{ product.name }}
      </a>
     <span class="price">
       Rs.{{getPrice(product)}}
     </span> 
     &nbsp;
     <span class="actualPrice">
       Rs.{{product.price}}
     </span>
     &nbsp;
     <span class="discountValue">
          {{product.discount}}% off
     </span>
    </span>
  </h3>

  <p bind-hidden="product.showDesc" *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <button on-click="share()">
    Share
  </button>

  <app-product-alerts [product]="product"></app-product-alerts>

</div>
